* {
  margin: 0;
  padding: 0; }

body {
  background-color: #4b4945; }

.bodyindex {
  background-color: black;
  display: grid;
}
 

.tituloindex {
  font-size: 50px;
  font-family: 'Yuji Syuku', serif;
  text-align: center;
  color: white; }

.parrafoindex {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Yuji Syuku', serif;
  text-align: center;
  color: white; }

.ulindex {
  text-align: center; }

.fieldsetindex {
  text-align: center;
  color: white;
  border-color: #4b4945;;
  margin-block: 100px; }

.h4index {
  color: white; }

.pindex {
  color: #5e5b5b;
  font-size: 20px;
  font-style: initial;
  text-align: center; }

.flex-container {
  display: flex;
  color: #968e8e; }

.flex-container div {
  border: 1px solid #979292;
  background-color: #2b2a28; }

.headerindumentaria {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 20px; }

.fotos {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.headeraccesorios {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 20px; }

.titulodevoluciones {
  font-size: 50px;
  font-family: 'Yuji Syuku', serif;
  text-align: display;
  color: white;
  text-align: center; }

.pdevoluciones {
  display: grid;
  grid-template-columns: 35% 65%;
  font-size: 15px;
  font-family: 'Amatic SC', cursive;
  font-family: 'Yuji Syuku', serif;
  margin-top: 50px; }

.pstrong {
  text-align: center; }

.headerdevolucion {
  text-align: center; }

.titulozapashomb {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 50px; }

.ulzapazhom {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 15px; }

.titulozapasmuj {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 50px; }

.ulzapazmuj {
  text-align: center;
  font-family: 'Yuji Syuku', serif;
  font-size: 15px; }

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 7px;
  margin: 0 7px; }

a {
  color: #b9c4cc; }

.imagenespago img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .bodyindex {
    display: flex;
    background-color: #070707;
    flex-direction: column;
    align-items: center; }
  .imagenprincipalindex {
    align-items: center;
    height: 300px;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 20px; } }

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .titulodevoluciones {
    font-size: 50px;
    font-family: 'Yuji Syuku', serif;
    color: white;
    text-align: center; }
  .pdevoluciones {
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Yuji Syuku', serif;
    text-align: center;
    color: blueviolet; } }
