@media only screen and (min-width: 320px) and (max-width: 736px) {
    .bodyindex {
      display: flex;
      background-color: #070707;
      flex-direction: column;
      align-items: center; }
  
    .imagenprincipalindex {
        align-items: center;
        height: 10px;
        width: 10px;
        padding-top: 50px;
        padding-bottom: 20px; } 
      
      
    .parrafoindex2 {
      font-size: 15px;
      text-align: center; }
    }
           
    
  @media only screen and (min-width: 320px) and (max-width: 736px) {
    .titulodevoluciones {
      font-size: 50px;
      font-family: 'Yuji Syuku', serif;
      color: white;
      text-align: center; }
    .pdevoluciones {
      font-size: 15px;
      font-family: 'Amatic SC', cursive;
      font-family: 'Yuji Syuku', serif;
      text-align: center;
      color: rgb(231, 227, 235); } 
    }