.titulozapashomb {         
    text-align: center;    
    font-family: 'Yuji Syuku', serif; 
    font-size: $cincuentapixeles;       
   }
   
   .ulzapazhom {         
    text-align: center;    
    font-family: 'Yuji Syuku', serif; 
    font-size: $quincepixeles;      
   }